* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* NAGŁÓWEK */

header {
	background-color: chocolate;
}

header nav ul {
	text-align: right;
}

header nav ul li {
	display: inline-block;
	padding: 5px 7px;
}

header nav ul li:hover {
	background-color: brown;
	transition: 0.2;
}

/* SEKCJA GŁÓWNA */

.paralaksa {
	height: 750px;
	position: relative;
	overflow: hidden;
}

.warstwa-1, .warstwa-2, .warstwa-3, .warstwa-4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 750px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

.warstwa-1 {
	background-image: url("koncepty/warstwa-1.png");
}

.warstwa-2 {
	background-image: url("koncepty/warstwa-2.png");
	filter: blur(4px);
}

.warstwa-3 {
	background-image: url("koncepty/warstwa-3.png");
	filter: blur(8px);
}

.warstwa-4 {
	background-image: url("koncepty/warstwa-4.png");
	filter: blur(12px);
}

/* SEKCJA SUKCESY */

.kafelek {
	text-align: center;
	background-color: azure;
}

/* STOPKA */

footer {
	background-color: chocolate;
}