@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Varela+Round&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Bangers', cursive;
}

p, input, label {
	font-family: 'Varela Round', sans-serif;
}

main {
	padding: 50px 0;
}

span {
	color: red;
}

.text-right {
	text-align: right;
}

.paragraf-ale-link {
	display: inline;
	text-decoration: underline;
}

.paragraf-ale-link:hover {
	cursor: pointer;
	color: #d6b0a9;
}

.duzy-przycisk {
	margin: 10px 0 40px 0;
	text-align: center;
}

.duzy-przycisk p, .duzy-przycisk button {
	display: inline-block;
	padding: 15px 25px;
	border: 4px solid #993b2a;
	border-radius: 25px;
	background-color: white;
	transition: .2s ease-in-out;
	-webkit-box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
	box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
}

.duzy-przycisk p:hover, .duzy-przycisk button:hover {
	cursor: pointer;
	transform: scale(1.1);
}

/* Strona główna */

.restauracje-karta {
	margin: 30px 0;
	padding: 15px 0;
	border: 2px solid #ff6347;
	transition: .2s ease-in-out;
	-webkit-box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
	box-shadow: 6px 6px 12px 0px rgba(66, 68, 90, 1);
}

.restauracje-karta:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.restauracje-karta h2 {
	margin: 10px 0;
}

.restauracje-karta-zdjecie img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Strona restauracji */

.restauracja-info img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.restauracja-info table {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
  
.restauracja-info table td, .restauracja-info table th {
	border: 1px solid #ddd;
	padding: 8px;
}
  
.restauracja-info table tr:nth-child(even){background-color: #f2f2f2;}
  
.restauracja-info table tr:hover {background-color: #ddd;}
  
.restauracja-info table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #6b291d;
	color: white;
}

.zamówienie-ilość button {
	margin: 0 20px;
	padding: 5px 20px;
}

.zamówienie-ilość p {
	display: inline-block;
}

/* Zamówienie */

.zamówienie-status {
	font-size: 1.5em;
}

.zamówienie-status-złożone {
	color: green;
}

.zamówienie-status-w-trakcie {
	color: yellow;
}

.zamówienie-status-zrealizowane {
	color: blue
}

.zamówienie-status-anulowane {
	color: red
}

/* Panel logowania */

label, input {
	display: block;
	margin-bottom: 10px;
}

input {
	padding: 10px 20px;
}

.wrapper-login {
	display: flex;
	align-items: center;
	flex-direction: column; 
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}

.button-login-submit {
	width: 100%;
	margin-top: 20px;
	padding: 10px 20px;
	border: 4px solid #993b2a;
	border-radius: 15px;
	transition: .2s ease-in-out;
}

/* Kurier */

.zamowienie-tresc {
	margin-bottom: 20px;
	padding: 15px 20px;
	border: 2px solid #6b291d;
}

.zamowienie-naglowek {
	padding: 15px 20px;
	background-color: #6b291d;
}

.zamowienie-naglowek h3 {
	margin: 0;
	font-size: 1.5em;
	color: white;
}

.zamowienie p {
	margin: 0;
}

.zamowienie .przycisk {
	text-align: right;
}

.zamowienie button {
	border: 2px solid #6b291d;
	border-radius: 20px;
	padding: 10px 15px;
}

/* Nagłówek */

.naglowek {
	height: 150px;
	padding: 20px 0;
	background-color: #993b2a;
	color: white;
}

.naglowek .container, .naglowek .row, .naglowek .col-md-4 {
	height: 100%;
}

.logo {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.naglowek .nazwa {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Stopka */

.stopka {
	padding-top: 30px;
	background-color: #993b2a;
	color: white;
}

.stopka a {
	color: white;
}

.stopka a:hover {
	color: #d6b0a9;
}

.stopka p {
	margin: 15px 0;
}

.stopka .container-fluid {
	background-color: #5b2319;
}