* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--header-font: 'Raleway', sans-serif;
	--paragraph-font: 'Noto Sans', sans-serif;
	--primary-background-color: #0059b7;
	--primary-hover-color: #003e80;
	--primary-text-color: white;
	--accent-background-color: #fdd604;
	--accent-hover-color: #f7a212;
	--secondary-background-color: #4c8acc;
	--secondary-text-color: white;
	--tertiary-background-color: red;
	--tertiary-text-color: black;
}  

.debuger {
	position: fixed;
	left: 0;
	top: 88px;
	padding: 10px 20px;
	background-color: white;
	outline: 2px solid tomato;
	z-index: 1000;
}

/* DOMYŚLNE TAGI */

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--header-font);
}

section.glowny-kontener h2 {
	margin-bottom: 30px;
}

h2:not(.text-center)::after {
	display: block;
	width: 72px;
	height: 3px;
	content: "";
	background-color: var(--primary-background-color);
}

section.glowny-kontener h3 {
	margin-bottom: 20px;
}

h3::after {
	display: block;
	width: 48px;
	height: 3px;
	content: "";
	background-color: var(--primary-background-color);
}

p, ul li {
	font-family: var(--paragraph-font);
}

/* NAGŁÓWEK */

nav.navbar {
	background-color: var(--primary-background-color);
}

nav.navbar ul li {
	margin: 0px 10px;
	padding: 5px 7px;
	border-radius: 20px;
	transition: 0.4s;
}

nav.navbar ul li a {
	color: var(--primary-text-color);
	font-family: var(--header-font);
	font-weight: 600;
	text-transform: uppercase;
}

nav.navbar ul li:hover {
	background-color: var(--primary-hover-color);
	transition: 0.4s;
}

section.szybki-kontakt {
	padding: 5px 5px;
	background-color: black;
	color: white;
}

section.szybki-kontakt a {
	color: var(--primary-text-color);
}

section.szybki-kontakt p {
	margin: 0;
	font-size: 0.8em;
}

section.szybki-kontakt .kontakty .kontakt {
	display: inline-block;
	margin: 0 50px;
}

section.szybki-kontakt .spolecznosciowe {
	text-align: right;
}

section.szybki-kontakt .material-icons {
	vertical-align:middle;
}

/* PANEL BOCZNY */

aside .partnerzy {
	margin-bottom: 3em;
	padding: 0 5px;
	text-align: center;
}

aside .partnerzy img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 0.2s;
}

aside .partnerzy a:hover img {
	transform: scale(1.1);
	transition: 0.2s;
}

aside .dokumenty img {
	width: 50px;
}

aside .dokumenty .dokument {
	margin-bottom: 2em;
}

aside h3 {
	font-size: 1.5rem;
}

/* STOPKA */

footer {
	background-color: var(--secondary-background-color);
}

.stopka-nav {
	padding: 30px 50px;
	color: white;
}

.stopka-nav a, .stopka-nav a:hover {
	color: var(--primary-text-color);
}

.stopka-copyright {
	color: white;
	background-color: var(--primary-background-color);
	border-top: 4px ridge var(--primary-background-color);
}

.stopka-copyright p {
	margin: 0;
	padding: 15px;
}

/* SEKCJA GŁÓWNA */

.paralaksa-kontener {
	position: relative;
	overflow: hidden;
}

.paralaksa-intro {
	height: 1500px;
}

.warstwa {
	position: absolute;
}

.paralaksa-intro .warstwa {
	width: 100%;
	height: 100%;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

#warstwa-intro-1 img { /* farma paneli */
	width: 100%;
	position: absolute;
	bottom: 0;
}

#warstwa-intro-2 img { /* łąka */
	width: 100%;
	position: absolute;
	bottom: 0;
}

#warstwa-intro-3 img { /* ptaki */
	position: absolute;
	left: 50%;
	top: 15%;
	width: 400px;
}

#warstwa-intro-4 img { /* LOGO */
	position: absolute;
	top: 500px;
	width: 100%;
}

#warstwa-intro-5 img { /* miasto */
	position: absolute;
	top: 600px;
	width: 100%;
}

#warstwa-intro-6 img { /* tło */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* SEKCJA SLOGAN */

section.slogan {
	padding: 30px 0;
	background-color: var(--primary-background-color);
	text-align: center;
}

section.slogan p {
	color: var(--primary-text-color);
	font-family: var(--header-font);
	font-size: 3em;
}

/* SEKCJA STONKS */

.paralaksa-stonks {
	height: 1000px;
}

.stock-market {
	width: 100%;
	height: 110%;
	background-image: url(../media/webp/stock_market.webp);
	background-position: center;
	background-size: cover;
	filter: brightness(0.5);
}

.mememan {
	right: 0;
	bottom: 0;
}

.stonks {
	left: 0;
	bottom: 0;
}

/* SEKCJA SUKCESY */

.kafelek {
	height: 100%;
	padding: 30px;
	text-align: center;
	background-color: var(--accent-background-color);
	border: 4px solid var(--accent-hover-color);
	border-radius: 20px;
}

.kafelek .material-icons {
	color: var(--accent-hover-color);
	font-size: 6em;
}

.kafelek h3::after {
	display: none;
}

/* PODSTRONA WSPÓLNE */

/* !! nie wyświetla się ze wzgędu na sklejanie plików */
body.podstrona {
	background-color: #deeffb;
}

/* baner */

.baner {
	position: relative;
	padding: 4em 0;
	background-image: url(../media/webP/banner.webp);
	background-position: center;
	background-size: cover;
}

.baner .overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
}

.baner .tytul {
	color: var(--primary-text-color);
	pointer-events: none;
}

/* breadcrumbs */

.breadcrumb-item a, .breadcrumb-item a:hover {
	color: white;
}

.breadcrumb > li:first-child::before {
	color: #fff;
	content: "🏠";
	padding-right: 0.5em;
}

/* główny kontener */

.glowny-kontener {
	border: 2px ridge #02141d;
	margin: 4em 0;
	-webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	-moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
	box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

aside.col-md-3 {
	padding: 2em;
	background-color: white;
}

main.col-md-9 {
	padding: 2em;
	background-color: white;
}

.glowny-kontener img {
	width: 100%;
}

/* PODSTRONA O NAS */

/* PODSTRONA USŁUGI */

.paralaksa-uslugi {
	position: relative;
	height: 240px;
}

.paralaksa-uslugi .warstwa-1 { /* wywrotka */
	position: absolute;
	width: 20%;
	bottom: 40px;
}

.paralaksa-uslugi .warstwa-2 { /* ulica */
	position: absolute;
	width: 110%;
	height: 50px;
	bottom: 0;
}

.paralaksa-uslugi .warstwa-3 { /* miasto */
	width: 110%;
	height: 100%;
	right: 0;
	top: 20px;
}

.paralaksa-uslugi .warstwa-3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.paralaksa-uslugi .warstwa-4 { /* niebo */
	width: 100%;
	height: 100%;
}

.paralaksa-uslugi .warstwa-4 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* PODSTRONA KONTAKT */

.podstrona-kontakt-kafelki {
	margin: 2em 0;
}

.podstrona-kontakt-kafelki span.material-icons {
	font-size: 4em;
	color: var(--primary-background-color);
}